.extension {
  height: 50px;
  display: flex;
  background-color: var(--grayLite);
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .extension {
    // justify-content: center;
    // align-items:center;
    display: none;
  }
}