.btnMobile {
	width:150px;
	height: 50px;
	background-color: rgb(109, 158, 91);
	z-index: 12;
	border-radius: 10px;
	text-align: center;
	color: #fff;
	padding-top: 15px;
	cursor: pointer;
}

// .btnMobile:hover {
// 	opacity: 0.6;
// }