.wrap {
  max-width: 1440px;
  // display: flex;

  .topBtn {
  }

  .menu {
    display: flex;
    justify-content: space-between;
  }
}

.line {
  height: 6px;
  background: linear-gradient(
    90deg,
    #00c65e 26.28%,
    rgba(0, 198, 94, 0) 101.66%
  );
}
