.item {
  padding: 23px 20px;
  cursor: pointer;
  color: var(--grayPrimary);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.item:hover {
  background-color: var(--grrenLite);
  color: var(--greenAwesome);
}

.active {
  color: var(--greenAwesome);
  background-color: var(--grayLite);
}
