.breadCamps {
  padding-left: 20px;
  color: var(--grayMidle);
  margin: 20px 0;
  cursor: pointer;
}

.breadCampsItem:last-child {
  color: var(--grayPrimary);
}

.breadCampsItem:hover {
  color: var(--grayPrimary);
}

@media (max-width: 768px) {
  .breadCamps {
    display: none;
  }
}
