.board {
	display: grid;
	grid-template-columns: 270px 1fr;
	gap: 30px;
  }
  
  .navi {
	display: flex;
	flex-direction: column;
	gap: 20px;
  }
  
  .main {

	.data {
	  padding: 30px;
	  box-shadow: 1px 2px 16px 3px rgba(54, 58, 69, 0.08);
	  border-radius: 10px;
	}
  }
  