.input1 {
  border: 1px solid #fff;
  border-radius: 18px;
  max-width: 300px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding-left: 15px;

  input {
    border: none;
  }
  input:focus {
    outline: none;
  }

  button {
    background-color: #dadcdc;
    border: none;
    color: var(--white);
    border-radius: 0px 5px 5px 0px;
    width: 89px;
    height: 28px;
    transition: all 0.3s;
    cursor: pointer;
  }
  button:hover {
    background-color: rgb(56, 62, 99);
  }
}

.input1:hover {
  border: 1px solid #363a45;
}
