html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --greenAwesome: #00c65e;
  --grrenLite: #00c65c30;
  --white: #fff;
  --grayPrimary: #363a45;
  --grayLite: #F7F7F7;
  --grayMidle: #DADCDC;
}

